* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(270deg, #7C0A02, #F1BC31, #E25822, #B22222);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.8em;
}

img {
    width: 100%;
    opacity: 0.6; 
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

img:hover {
    opacity: 1; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}

a {
    color: #4F4E4E;
}
