.about {
  background-color: #481E14;
  padding: 20px;
  margin: 150px auto;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  font-family: "Tajawal", serif;
}

.about h2 { 
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}

.about h3 {
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about p {
    font-size: 20px;
    line-height: 1.6;
    color: #F1BC31;
}

.about ul {
    
    list-style-type: disc;
    padding-left: 20px;
    color: #F1BC31;
    font-size: 20px;
}

.about ul li {
    margin-bottom: 10px;
}

.about ul li:hover {
    color: #E25822;
    transition: color 0.3 ease;
}




