.main-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 16px; 
    padding: 10px; 
    margin-top: 150px;
    background-color: #6D9886;
}

.gallery-item {
    border: 2px solid white;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    background-color: black;
}


.gallery-item:hover {
    cursor: pointer;
    transform: scale(1.05); 
}


.saved  {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 10px;
    margin-top: 150px;
    background-color: #ECEBDE;
    cursor: pointer;
}

.saved  img {
    opacity: 1;
}