.main-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 16px; 
    padding: 10px; 
    /* background-color: #6D9886; */
}

.gallery-item {
    border: 2px solid #F1BC31;
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    background-color: black;
    border-radius: 20px;
}


.gallery-item:hover {
    cursor: pointer;
    transform: scale(1.05); 
}


.saved  {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 10px;
    margin-top: 150px;
    background-color: #481E14;
    border-radius: 20px;

}
.saved-item {
    cursor: pointer;
}
.saved  img {
    opacity: 1;
    border: 2px solid #F1BC31;
    border-radius: 20px;
    
}

.saved .delete-btn {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flexible-container {
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 100px;
  }

.btn-flexible {
    padding: 10px;
    border: 1px solid #E25822;
    font-size: 18px;
    cursor: pointer;
    background-color: #7C0A02;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    
  }
  
  .btn-flexible:hover {
    background-color: #F1BC31;
    color: white;
    transition: background-color .4s ease;
  }

  #filter-input {
    padding: 10px;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 2px solid #E25822;

  }